* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Work Sans", sans-serif;
    background-color: antiquewhite;
}

main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 100px;
}

h1{
    text-align: center;
    font-family: "Fjalla One", sans-serif;

}
.titulo-principal {
    font-family: "Fjalla One", sans-serif;
}

form {
    background-color: white;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 100px;
}

fieldset {
    padding: 15px;
    border: 2px solid #7f8c8d;
    border-radius: 7px;
    margin-bottom: 15px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

input[type="tel"],[id=inputImage]{
    margin-bottom: 0;
}
small{
    margin-bottom: 20px;
    display: inline-block ;
}


p{
    margin-bottom: 15px;
    font-weight: bold;
}

legend {
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #7f8c8d;
    border-radius: 7px;
}

textarea {
    min-height: 100px;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

input[type="color"] {
    width: 50px;
    padding: 0 7px;
}

input:invalid,
select:invalid,
textarea:invalid {
    border-color: red;
}

input:valid,
select:valid,
textarea:valid {
    border-color: aquamarine;
}

button{
    width: 100px;
    height: 30px;
    margin-right: 10px;
    background-color: white;
    border: 2px solid #7f8c8d;
    border-radius: 7px;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: white;
}